
#projects {
	margin: 80px 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#projects > section.project, #projects > div.empty {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 400px;
}
#projects > div.empty {
	margin: 0 20px;
	height: 0;
	visibility: hidden;
}
#projects > section.project {
	margin: 20px;
	background-color: rgb(39, 34, 58);
	background-color: var(--light-background);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.25);
}

#projects > section > .cover {
	width: 100%;
	height: 300px;
	border-top-left-radius: 11px;
	background-position: center center;
	background-color: #000;
}
#projects > section > .cover:hover {
	filter: brightness(1.15);
}

#projects > section > .cover > h2 {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	margin: 0;
	padding: 0.25em 0.5em;
	border-bottom-right-radius: 10px;
	background-color: rgba(39, 34, 58, 0.8);
	background-color: var(--light-background-transparent);
	color: #ddd;
	pointer-events: none;
}

#projects > section > p {
	flex-grow: 1;
	padding: 0.75em;
	background-color: rgb(35, 32, 56);
	background-color: var(--light-background-accent);
}

#projects > section > a.underline-button {
	box-sizing: border-box;
	width: 100%;
	border-bottom: 0.15em solid rgb(35, 32, 56);
	border-bottom: 0.15em solid var(--light-background-accent);
	font-size: 1.25em;
}
#projects > section > a.underline-button:last-of-type {
	border-bottom: none;
}
#projects > section > a.underline-button > img {
	margin: 0 0.3em 0.15em 0;
	width: 1em;
	height: 1em;
	vertical-align: middle;
}
#projects > section > a.underline-button > span {
	position: relative;
	left: 0;
	transition: left 0.1s;
}
#projects > section > a.underline-button:hover > span {
	left: 0.2em;
}

@media (max-width: 45em) {
	#projects {
		margin: 20px 0;
	}
}
