
#social {
	margin: 80px 20px;
	text-align: center;
}

#social > section {
	margin-bottom: 100px;
}

#social > section > h1 {
	margin: 20px;
}
#social > section > p {
	font-size: 1.25em;
}

#social > section > a {
	display: inline-block;
	margin: 10px 5px;
	padding: 30px;
	width: 4.5em;
	height: 4.5em;
	vertical-align: top;
	border-radius: 10px;
	background-color: rgb(39, 34, 58);
	background-color: var(--light-background);
	box-shadow: 4px 4px 8px rgba(0,0,0,0.25);
	color: #ddd;
	font-size: 1.25em;
	font-weight: bold;
	text-decoration: none;
	transition: transform 0.1s ease-in-out;
}
#social > section > a > img {
	width: 100%;
}
#social > section > a > span {
	display: flex;
	justify-content: center;
}

#social > section > a:hover, #social > section > a:focus-visible {
	background-color: rgb(46, 40, 68);
	background-color: var(--light-background-hover);
	transform: translateY(-5px);
}
